<footer>
  <div class="container px-0 clearfix">
    <nav class="float-left">
      <ul class="nav">
        {% include "partials/navigation.html" %}
      </ul>
    </nav>

    <p class="float-right mt-2 mr-4">&copy; {{ currentyear }} {{ client }}</p>
  </div>
</footer>

<!-- <script src="js/vendor/modernizr-{{MODERNIZR_VERSION}}.min.js"></script> -->
<script src="js/scripts.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
