<!doctype html>
<html class="no-js" lang="">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{ title }}</title>
      <meta name="description" content="{{ description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="manifest" href="site.webmanifest">
      <link rel="apple-touch-icon" href="/favicon.ico">
      <link rel="icon" type="image/ico" href="/favicon.ico">
      <!-- Place favicon.ico in the root directory -->

      <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
      <link rel="stylesheet" href="/css/styles.min.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <header class="header">
          <div class="navbar navbar-dark bg-dark">
            <div class="container">
              <h4 class="my-0 ml-3"><a class="navbar-brand" href="/">{{ title }}</a></h4>
              <nav>
                <ul class="nav">
                {% include "partials/navigation.html" %}
                </ul>
              </nav>
            </div>
          </div>

        </header>
