@import "./node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Crete Round', serif;
}

header {
  nav {
    .nav-link {
      color: #fff;
      opacity: .7;

      &:hover, &.active {
        color: #fff;
        text-decoration: underline;
        opacity: 1;
      }
    }
  }
}
